body {
    margin: 20px auto;
    padding: 20px;
}

form {
    width: 550px;
}

.input-group {
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

.input-group button{
    margin-top: -1px;
}

p {
    font-size: 0.875rem;
    margin: 0;
    margin-right: -0.8em;
    padding: 0;
}

[type='checkbox'], [type='radio'] {
    margin-left: 1em;
    margin-bottom: 0;
}



.enc-progress td {
    width: 8em;
    height: 2.2em;
    font-size: 1em;
    text-align: center;
    border: 1px solid black;
}

td.no-border {
    border: none;
    width: 2.5em;
}

#process-gif {
    width: 34px;
    margin-left: 2px;
}

#btn-cancel {
    margin-top: 10px;
}