body {
    margin: 20px auto;
    padding: 20px;
}

form {
    width: 550px;
}

.input-group {
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

.input-group button{
    margin-top: -1px;
}

p {
    font-size: 0.875rem;
    margin: 1em;
    padding: 0;
}

.path-selector p {
    margin-right: -0.8em;    
}

[type='checkbox'], [type='radio'] {
    margin-left: 1em;
    margin-bottom: 0;
}

#field-cpu-used {
    display: flex;
}

#input-cpu-used {
    width: 150px;
}


